head
  meta(charset='utf-8')
  title Title2
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Choix de restaurant
          // Modal Body
          .modal-body
            form(role='form' method='GET' action='/explo')
              select#name.form-control
                each cuisine in cuisines
                  option(value=cuisine) #{cuisine}
              input#name.form-control(type='text', placeholder='indique ton restaurant' name='cuisine')
              select#name.form-control
                each borough in boroughs
                  option(value=borough) #{borough}
              input#name.form-control(type='text', placeholder='indique ton restaurant' name='borough')
              button.btn.btn-primary(type="submit") Recherche
           
              


            div.form-group
            if name
                p #{name}
            if restaurants
                each restaurant in restaurants
                    p Name : #{restaurant.name}
                    p Cuisine : #{restaurant.cuisine}
                    p Adresse : #{restaurant.address.building} #{restaurant.address.street} #{restaurant.borough}
                    p ---------------------